/* masthead.css */

.ui.inverted.masthead.segment.zoomed h1.ui.header,
.ui.inverted.masthead.segment.zoomed h2.ui.header {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
}
.ui.inverted.masthead.segment.zoomed:after {
    opacity: 0;
}
.ui.inverted.masthead.segment.zoomed {
    background-color: #1B1C1D;
}
.ui.inverted.masthead.segment {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0px;
    border-bottom: none;
    background-color: #1B1C1D;
    background-position: 50% 50%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.ui.inverted.masthead.segment:after {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-size: cover;
    opacity: 0.45;
}
.ui.inverted.masthead.segment.bg1:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c69da238e.jpg');
}
.ui.inverted.masthead.segment.bg2:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6d0e84d6.jpg');
}
.ui.inverted.masthead.segment.bg3:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6d0e553d.jpg');
}
.ui.inverted.masthead.segment.bg4:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6d058f32.jpg');
}
.ui.inverted.masthead.segment.bg5:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6d133e02.jpg');
}
.ui.inverted.masthead.segment.bg6:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6d133199.jpg');
}
.ui.inverted.masthead.segment.bg7:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6d127071.jpg');
}
.ui.inverted.masthead.segment.bg8:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6d116d6f.jpg');
}
.ui.inverted.masthead.segment.bg9:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6d10bb0a.jpg');
}
.ui.inverted.masthead.segment.bg10:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6d1049ea.jpg');
}
.ui.inverted.masthead.segment.bg11:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6e0f03fb.jpg');
}
.ui.inverted.masthead.segment.bg12:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6e16a180.jpg');
}
.ui.inverted.masthead.segment.bg13:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6e12abf6.jpg');
}
.ui.inverted.masthead.segment.bg14:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6e12c447.jpg');
}
.ui.inverted.masthead.segment.bg15:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6e120892.jpg');
}
.ui.inverted.masthead.segment.bg16:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6e112d81.jpg');
}
.ui.inverted.masthead.segment.bg17:after {
    background-image: url('https://img.philsilver.xyz/uploads/2022/04/01/6246c6e10ee0a.jpg');
}
.ui.inverted.masthead.segment,
.ui.inverted.masthead.segment:after {
    -ms-transition:
        background 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition:
        background 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition:
        background 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition:
        background 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition:
        background 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -ms-transition:
        background 0.1s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 0.1s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition:
        background 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition:
        background 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition:
        background 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
        opacity 0s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
}
.pusher .ui.inverted.menu {
    background: none;
}
.ui.masthead h1.ui.header:not(.logo) {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.ui.masthead h2.ui.header {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
